.venv
.DS_Store
model/dev/client
model/dev/server
input.msgpack
node_modules
ezkl
circom_model/keras2circom
./circom_model/snarkjs-0.5.0
circom_model/powersOfTau28_hez_final_22.ptau
circom_model/score_model
circom_model/snarkjs-0.5.0
circom_model/v0.5.0.zip
circom_model/model_circuit/build
/model

# evm
/evm/node_modules
/evm/.bin
/evm/typechain-types
/evm/artifacts
/evm/cache
/evm/coverage
/evm/coverage.json